.weather-app {
  margin: auto;
  margin-top: 20px;
  width: 75%;
  padding: 10px;
}

.weather-form {
  /* min-width: 150px;
  max-width: 500px; */
  width: 100%;
}

.weather-result {
  padding: 5px;
  background-color: rgb(219, 218, 218);
  width: 100%;
}

.weather-full-width {
  width: 100%;
  background-color: aliceblue;
}

.box-header {
  background-color:rgb(151, 125, 237)
}

.box-header-title {
  font-weight: 500;
  color:#f7f5f5;
  font-size:25px
}

.weather-result-element-name {
  font-weight: 500;
  color:gray;
}

.weather-result-element-value{
  margin-left:20%;
  font-weight: 200;
  font-size: 12px;
}
.weather-result-element-metric{
  font-weight: 200;
  font-size: 12px;
}
button[type=submit]:disabled {
  background: #838283;
}

